<!doctype html>
<html lang="en">
  <body>
  

    <button type="button" class="btn btn-light  mx-2" (click)="div1Function()">Search Property</button>
    <button type="button" class="btn btn-light mx-2" (click)="div2Function()">Add Property</button>
   
    <div *ngIf="div1">
      <div class="testbox">
            
        <form [formGroup]="PropertyDataModel.formPropertyGroup" class="mx-1 mx-md-4">
        <div class="banner">
          <h1>Search Property</h1>
        </div>
        <br/>
        <fieldset>
          <legend>Search Property Form</legend>
          <div class="columns">
            <div class="item">
              <label for="fname">Owner First Name<span>*</span></label>
              <input id="fname" type="text" formControlName="firstNameControl" name="fname" [(ngModel)]="PropertyDataModel.ownerFirstName" />
            </div>
            <div class="item">
              <label for="lname">Owner Last Name<span>*</span></label>
              <input id="lname" type="text" name="lname" formControlName="lastNameControl" [(ngModel)]="PropertyDataModel.ownerLastName"/>
            </div>
            <div class="item">
              <label for="address">Property Address<span>*</span></label>
              <input id="address" type="text"  formControlName="PropertyAddressControl" name="address" [(ngModel)]="PropertyDataModel.propertyAddress" />
            </div>
            <div class="item">
              <label for="propertyType">Property Type<span>*</span></label>
              <input id="propertyType" type="text" formControlName="PropertyTypeControl"  name="propertyType" [(ngModel)]= "PropertyDataModel.propertyType"/>
            </div>

            <button type="button" class="btn btn-outline-success" (click)="searchProperty()">SEARCH</button>
            </div>
            <div>
              <table class="table table-hover" *ngIf="showTable">
                <h2>Search Result:</h2>
                <tr>
                  <th>Property Id</th>
                  <th>Area(Square-Feet)</th>
                  <th>Plot Number</th>
                  <th>Address</th>
                  <th>Legal Description</th>
                  <th>Property Type </th>
                  <th>Action</th>
                 <!-- <td>Average Rate per Square Feet</td> -->
    
                </tr>
                <tr  *ngFor='let property of uiResponse | paginate: {itemsPerPage: 1,
                currentPage: page,
                totalItems: totalLength }'>
                  <td>{{property.propertyId}}</td>
                  <td>{{property.area}}</td>
                  <td>{{property.plotNo}}</td>
                  <td>{{property.propertyAddress}}</td>
                  <td>{{property.legalDescription}}</td>
                  <td>{{property.propertyType}}</td>
                  <!-- <td>{{property.publisher}}</td> -->
                  <td>
                    <i (click)="deleteProperty(property.propertyId)" 
                    class= "fa fa-trash"></i>
                    &nbsp;
                    <a routerLink="propertyById/{{property.propertyId}}">
                    <i class="fa fa-edit"></i>
                    </a>
                  </td>
                </tr>

                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </table>
              
              </div>
              </fieldset>
             </form>
             </div>
             </div>
             
           
    
<!-- last div1 search end -->
    <div *ngIf="div2">
        <div class="testbox">
            
              <form [formGroup]="PropertyDataModel.formPropertyGroup" class="mx-1 mx-md-4">
              <div class="banner">
                <h1>Add Property</h1>
              </div>
              <br/>
              <fieldset>
                <legend>Add Property Form</legend>
                <div class="columns">
                  <div class="item">
                    <label for="fname">Owner First Name<span>*</span></label>
                    <input id="fname" type="text" formControlName="firstNameControl" name="fname" [(ngModel)]="PropertyDataModel.ownerFirstName" />
                  </div>
                  <div class="item">
                    <label for="lname">Owner Last Name<span>*</span></label>
                    <input id="lname" type="text" name="lname" formControlName="lastNameControl" [(ngModel)]="PropertyDataModel.ownerLastName"/>
                  </div>
                  <div class="item">
                    <label for="eaddress">Owner Email Address<span>*</span></label>
                    <input id="eaddress" type="text" formControlName="EmailControl"  class="form-control form-control-lg" name="eaddress" [(ngModel)]="PropertyDataModel.ownerEmail" />
                  </div>
                  <div class="item">
                    <label for="address">Property Address<span>*</span></label>
                    <input id="address" type="text"   formControlName="PropertyAddressControl" name="address" [(ngModel)]="PropertyDataModel.propertyAddress" />
                  </div>
                  <div class="item">
                    <label for="area">Property Area<span>*</span></label>
                    <input id="area" type="text"  formControlName="PropertyAreaControl" name="area" required [(ngModel)]="PropertyDataModel.area"/>
                  </div>
                  <div class="item">
                    <label for="legalDescription">Legal Description<span>*</span></label>
                    <input id="legalDescription" type="text" formControlName="LegalDescriptionControl"  name="legalDescription"[(ngModel)]="PropertyDataModel.legalDescription" />
                  </div>
                  <div class="item">
                    <label for="plotNo">Plot No<span>*</span></label>
                    <input id="plotNo" type="text"  formControlName="plotNoControl" name="plotNo" [(ngModel)]="PropertyDataModel.plotNo"/>
                  </div>
                  
                  <div class="item">
                    <label for="propertyType">Property Type<span>*</span></label>
                    <input id="propertyType" type="text"  formControlName="PropertyTypeControl" name="propertyType" [(ngModel)]= "PropertyDataModel.propertyType"/>
                  </div>
                  
                   <div class="item">
                    <label for="rate">Property Rate<span>*</span></label>
                    <input id="rate" type="text"  formControlName="PropertyRateControl" name="rate" [(ngModel)]="PropertyDataModel.rate" />
                  </div>
                  <div class="item">
                    <label for="escrowDetail">Escrow Details <span>*</span></label>
                  <select name="escrowDetail" formControlName="EscrowDetailsControl" [(ngModel)]="PropertyDataModel.escrowDetail">
                              <option *ngFor="let p of escrowStatus" [value]="p.EscrowName">{{p.EscrowName}}</option>
                            </select>
                </div>
                 <div class="item">
                    <label for="taxAmount">Tax Amount <span>*</span></label>
                    <input id="taxAmount" type="text" formControlName="TaxAmountControl"  name="taxAmount" [(ngModel)]="PropertyDataModel.taxAmount" />
                  </div>
                  
                  <div class="item">
                    <label for="taxRate">Tax Rate <span>*</span></label>
                    <input id="taxRate" type="text"  formControlName="TaxRateControl" name="taxRate" [(ngModel)]="PropertyDataModel.taxRate"/>
                  </div>
                  
                <div class="item">
                  <label for="taxStatus">Tax Status <span>*</span></label>
                  <select name="taxStatus" formControlName="TaxStatusControl" [(ngModel)]="PropertyDataModel.taxStatus" >
                              <option *ngFor="let p of taxDrop" [value]="p.taxStatusName">{{p.taxStatusName}}</option>
                            </select>
                </div>

                <button type="button" class="btn btn-outline-success" (click)="addProperty()">ADD</button>
                
              </div>
              
              </fieldset>
              <br/>
              
            </form>
        </div>
    </div>
    
  



</body>
</html>