<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
  
      li {
        float: left;
      }
  
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      li a:hover {
        background-color: #04aa6d;
      }
  
      .active {
        background-color: #333;
      }
    </style>
  </head>
  <body>
    <ul class="nav nav-tabs">
     <!-- <li><a class="active" href="#signup" routerLink="/">Signup</a></li> -->
      <li class="nav-item"><a class="nav-link active" aria-current="page"  href="#signin" routerLink="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link active" aria-current="page"  href="#signup" routerLink="/signup">SignUp</a></li>
    </ul>
  
    <div style="text-align: center; font-weight: bolder; font-size: 50px">
      <router-outlet></router-outlet>
    </div>

   
  </body>
</html>